.blogWrap {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);

    padding: 40px;
    padding-left: 210px;
    padding-right: 210px;

    @media (max-width: $sbp_blogExtra1) {grid-template-columns: repeat(3, 1fr);padding-left: 190px;padding-right: 190px;}
    @media (max-width: $sbp_blogExtra2) {grid-template-columns: repeat(2, 1fr);padding-left: 140px;padding-right: 140px;}

    @media (max-width: $sbp1_desktop) {grid-template-columns: repeat(2, 1fr);padding-left: 100px;padding-right: 100px;}
    @media (max-width: $sbp2_laptop) {grid-template-columns: repeat(2, 1fr);padding-left: 90px;padding-right: 90px;}
    @media (max-width: $sbp3_tablet) {grid-template-columns: repeat(2, 1fr);padding-left: 50px;padding-right: 50px;}
    @media (max-width: $sbp4_mobile) {grid-template-columns: repeat(2, 1fr);padding-left: 50px;padding-right: 50px;}
    // gap: 40px;
    row-gap: 7vw;
    // max-width: $sbp1_desktop;
    margin-left: auto;
    margin-right: auto;
    article {
        width: 310px;
        @media (max-width: $sbp_blogExtra1) {width: 315px;}
        @media (max-width: $sbp_blogExtra2) {width: 325px;}
        @media (max-width: $sbp1_desktop) {width: 325px;}
        @media (max-width: $sbp2_laptop) {width: 205px;}
        @media (max-width: $sbp3_tablet) {width: 165px;}
        @media (max-width: $sbp4_mobile) {width: 105px;}
    
        background-color: $colorWhite;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        @include borderRadius;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            aspect-ratio: 5/6;
            object-fit: cover;
            border-radius: 11px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        > div {
            position: absolute;
            width: 100%;
            top: calc(100% - 70px);
            @media (max-width: $sbp2_laptop) {
                top: calc(100% - 40px);
            }
            // @media (max-width: $sbp3_tablet) {
            //     top: calc(100% - 30px);
            // }
            background-color: $colorWhite;
            border-top: 3px solid $colorWTM;
            min-height: 100%;
            transition: top .3s ease-out;
            padding: 12px 10px 7px 15px;
            @media (max-width: $sbp2_laptop) {
                padding-top: 6px;
            }
            // > :first-child {
            //     margin-top: 0;
            //     margin-bottom: 0;
            //     margin-right: 15px;
            //     float: left;
            //     font-size: 1.2em;
            //     line-height: 1.8em;
            // }
            > :nth-child(1) {
                margin-top: 0;
                margin-bottom: 0;
            }
            > :nth-child(2) {
                display: inline-block;
                overflow: hidden;
                @media (max-width: $sbp2_laptop) {
                    font-size: .8em;
                    line-height: 1em;
                }
            }
            > :last-child {
                position: absolute;
                font-size: 1em;
                width: 120px;
                bottom: 45px;
                right: 15px;
                background-color: $colorWhite;
                @media (max-width: $sbp2_laptop) {
                    font-size: .8em;
                }
                @media (max-width: $sbp3_tablet) {
                    display: none;
                }
            }
            > h2 {
                color: $colorBlack;
                font-weight: normal;
                font-size: 1.2em;
                line-height: 2em;
                @media (max-width: $sbp2_laptop) {
                    font-size: .8em;
                }
                @media (max-width: $sbp3_tablet) {
                    font-size: .8em;
                    line-height: 2.2em;
                }
            }
            > .date {
                span {
                    line-height: 0;
                    margin-left: 10px;
                    border-bottom: 1px solid $colorBlack;
                    display: inline-block;
                    width: 50px;
                }
            }
        }
        a {
            color: $colorWTM;
            font-weight: bold;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &:hover {
            > div {
                top: 50px;
            }
            cursor: pointer;
        }
    }
}
.blogBumper {
    background-color: $colorGreyLight;
    .bumperInner {
        display: flex;
        gap: 20px;
        @media (max-width: $sbp3_tablet) {
            flex-direction: column;
            text-align: center;
        }
        justify-content: space-between;
        padding: 15px;
        max-width: $contentWidth;
        margin-left: auto;
        margin-right: auto;
    }
}
.toBlogBtn {
    @include submitButton;
    font-size: 1em !important;
    color: $colorWhite !important;
    padding: 10px 25px !important;
}