.casesContent {
    @include swiperBox;
    div.swiper-slide {
        > div {
            padding-bottom: 20px;
            // padding-left: 20px;
            // padding-right: 20px;
            // @media (max-width: $sbp4_mobile) {
            //     padding-left: 10px;
            //     padding-right: 10px;
            // }
            article {
                @include borderRadius;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);

                width: 320px;
                @media (max-width: $sbp2_laptop) {width: 200px;}
                @media (max-width: $sbp3_tablet) {width: 170px;}
                @media (max-width: $sbp4_mobile) {width: 110px;}
                margin-left: auto;
                margin-right: auto;
                background-color: $colorWhite;

                

                > h3 {
                    font-size: 1em;
                    text-align: center;
                    padding: 5px 10px 20px 10px;
                    margin: 0;
                    @media (max-width: $sbp4_mobile) {font-size:.8em;line-height:1.2em;padding-bottom:8px;}
                }
                a {
                    color: $colorBlack;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                .outerFlip {
                    background-color: transparent;
                    perspective: 1000px;
                    @include borderRadius;
                    aspect-ratio: 10/11;
                    &:hover {
                        .innerFlip {
                            transform: rotateY(180deg);
                            cursor: pointer;
                        }
                    }
                    .innerFlip {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        transition: transform 0.5s;
                        transform-style: preserve-3d;
                        @include borderRadius;
                        .flipFront {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            @include borderRadius;
                            img {
                                @include borderRadius;
                                width: 100%;
                                aspect-ratio: 10/11;
                                object-fit: cover;
                            }
                        }
                        .flipBack {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            @include borderRadius;
                            background-color: $colorWTM;
                            color: $colorWhite;
                            transform: rotateY(180deg);
                            > div {
                                padding: 20px;
                                @media (max-width: $sbp4_mobile) {padding: 10px;font-size:.8em;}
                            }
                            :first-child {
                                margin-top: 0;
                            }
                            p:last-child {
                                font-style: italic;
                            }
                        }
                    }
                }
            }
        }
    }

}
.caseDetailImageWrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
    @media (max-width: $sbp1_desktop) {grid-template-columns: repeat(3, 1fr);}
    // @media (max-width: $sbp2_laptop) {grid-template-columns: repeat(3, 1fr);}
    @media (max-width: $sbp3_tablet) {grid-template-columns: repeat(2, 1fr);}
    // @media (max-width: $sbp4_mobile) {grid-template-columns: repeat(1, 1fr);}
    img {
        width: 100%;
        cursor: pointer;
        object-fit: cover;
        aspect-ratio: 1/1;
    }
}
