.faqs {
    @include textPaddingOnMobile;
    // h2 {
        // font-size: 3em;
    // }
    > div {
        background-color: $colorWhite;
        @include borderRadius;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        padding: 30px;
        margin-bottom: 30px;
        cursor: pointer;
        h3 {
            font-size: $fontSize;
            @media (max-width: $sbp3_tablet) {
                font-size: $fontSizeMobile;
            }
            margin: 0;
        }
        .answer {
            overflow: hidden;
            transition: height .3s ease-out;
            > :last-child {
                margin-bottom: 0;
            }
        }
    }
}