.headerOuter {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    
    .headerInnerWrap {
        height: $headerHeight;
        transition: height 0.3s ease;
        &.afterScroll {
            height: $headerHeightAfterScroll;
        }
        padding: 0 80px 0 40px;
        background-color: $colorWhite;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        @media (max-width: $sbp1_desktop) {
            justify-content: flex-start;
            gap: 30px;
        }
        @media (max-width: $sbp4_mobile) {
            justify-content: flex-start;
            gap: 10px;
        }
        .mainLogoWrap {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            img {
                height: 80px;
                transition: height 0.3s ease, width 0.3s ease;
                &.afterScroll {
                    height: 70px;
                    width: 70px;
                }
            }
        }
        
        .mainNav {
            #burger-check, .burger-label {
                display: none;
            }
            // @media (max-width: $sbp3_tablet) {
                @include burgerMenuAdapter;
                #burger-check ~ ul {
                    // background-color: #EFEFEF;
                    background-color: #FFF;
                    padding: 90px 0 20px 0;
                    z-index: 1;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 0;
                    top: 0;
                    li {
                        padding-top: 10px;
                        padding-bottom: 10px;
                        
                        margin: 0;
                        a {
                            @include mainNavButton;
                        }
                        ul {
                            margin: 0;
                            display: flex;
                            flex-direction: column;
                            gap:0;
                            @media (min-width: ($sbp2_laptop + 1)) {
                                display: none;
                            }
                            // padding-top: 10px;
                            li {
                                padding: 10px 0;
                                a {
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
                #burger-check:checked ~ ul {
                    // width: 80%;
                    width: 280px;
                    border-left: 2px solid black;
                    border-bottom: 2px solid black;
                }
                .burger-label {
                    z-index: 2;
                    // &.afterScroll {
                        // top: 41px;
                        top: 35px;
                        transition: top 0.3s ease;
                        &.afterScroll {
                            top: 32px;
                        }
                    // }
                }
            // }
            // @media (min-width: ($sbp3_tablet + 1)) {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                ul {
                    display: flex;
                    gap: 25px;
                    // @media (max-width: $sbp1_desktop) {gap: 15px;}
                    // @media (max-width: $sbp1_desktop) {
                    //     flex-direction: column;
                    //     gap: 0;
                    // }
                    @media (max-width: $sbp2_laptop) {
                        display: none;
                    }
                    @media (max-width: $sbp1_desktop) {gap: 10px;}
                    li {
                        position: relative;
                        a {
                            @include mainNavButton;
                            @media (max-width: $sbp1_desktop) {font-size: 1em;}
                            white-space: nowrap;
                        }
                        ul {
                            // display: none;
                            // left: 10px;
                            // white-space: nowrap;
                            // position: absolute;
                            // background-color: $colorWTMdark;
                            // @include borderRadius;
                            // padding: 20px;
                            // li {
                            //     padding: 5px 0;
                            //     a {
                            //         color: #FFF;
                            //         padding: 7px 16px 8px 16px;
                            //     }
                            // }
                        }
                        // &:hover {
                        //     ul {
                        //         display: block;
                        //     }
                        // }
                    }
                }
            // }
        }
    }
}