.marketingTermsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    .marketingTermsGrid {
        height: 700px;
        @include textPaddingOnMobile;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 350px);
        @media (max-width: $sbp_marketingTerms1) {
            height: 450px;
            grid-template-columns: repeat(3, 225px);
        }
        @media (max-width: $sbp_marketingTerms2) {
            height: 350px;
            grid-template-columns: repeat(3, 175px);
        }
        @media (max-width: $sbp2_laptop) {
            grid-template-columns: repeat(2, 175px);
            height: 525px;
        }
        @media (max-width: $sbp4_mobile) {
            grid-template-columns: repeat(2, 175px);
            height: 700px;
        }
        .mTermCell {
            position: relative;
            .mTermBox {
                @include borderRadius;
                background-color: #22644E;
                width: 300px;
                height: 300px;
                transition: width 0.3s ease, height 0.3s ease, top 0.3s ease;
                overflow: hidden;
                display: flex;
                gap: 40px;
                align-items: center;
                color: #FFF;
                position: absolute;
                left: -125px;
                top: 0;
                @media (max-width: $sbp_marketingTerms1) {
                    width: 200px;
                    height: 200px;
                    gap: 30px;
                    left: -100px;
                }
                @media (max-width: $sbp_marketingTerms2) {
                    width: 150px;
                    height: 150px;
                    gap: 20px;
                    left: -75px;
                }
                h3 {
                    font-size: 1.5em;
                    @media (max-width: $sbp_marketingTerms1) {font-size: 1.2em;}
                    @media (max-width: $sbp_marketingTerms2) {font-size: 1.0em;}
                }
                p {
                    font-size: .8em;
                    @media (max-width: $sbp_marketingTerms1) {font-size: .7em;}
                    @media (max-width: $sbp_marketingTerms2) {font-size: .6em;}
                }
                > div {
                    img {
                        width: 120px;
                        height: 120px;
                        object-fit: contain;
                        margin: 90px;
                        @media (max-width: $sbp_marketingTerms1) {
                            width: 100px;
                            height: 100px;
                            margin: 50px;
                        }
                        @media (max-width: $sbp_marketingTerms2) {
                            width: 80px;
                            height: 80px;
                            margin: 35px;
                        }
                    }
                    &:last-child {
                        div {
                            width: 330px;
                            @media (max-width: $sbp_marketingTerms1) {width: 250px;}
                            @media (max-width: $sbp_marketingTerms2) {width: 160px;}
                        }
                    }
                }
                &:hover {
                    width: 650px;
                    left: -125px;
                    position: absolute;
                    @media (max-width: $sbp_marketingTerms1) {
                        width: 425px;
                        left: -100px;
                    }
                    @media (max-width: $sbp_marketingTerms2) {
                        width: 325px;
                        left: -75px;
                    }
                    @media (max-width: $sbp4_mobile) {
                        width: 325px;
                    }
                }
            }
            &:nth-child(1) {.mTermBox {z-index: 8;}}
            &:nth-child(2) {.mTermBox {z-index: 7;}}
            &:nth-child(3) {.mTermBox {z-index: 6;}}
            &:nth-child(4) {.mTermBox {z-index: 5;}}
            &:nth-child(5) {.mTermBox {z-index: 4;}}
            &:nth-child(6) {.mTermBox {z-index: 3;}}
            &:nth-child(7) {.mTermBox {z-index: 2;}}
            &:nth-child(8) {.mTermBox {z-index: 1;}}
            &:nth-child(1) {
                .mTermBox {
                    flex-direction: column;
                    &:hover {
                        width: 300px;
                        height: 650px;
                        @media (max-width: $sbp_marketingTerms1) {
                            width: 200px;
                            height: 425px;
                        }
                        @media (max-width: $sbp_marketingTerms2) {
                            width: 150px;
                            height: 325px;
                        }
                        @media (max-width: $sbp4_mobile) {
                            height: 325px;
                        }
                    }
                    > div {
                        &:last-child {
                            div {
                                width: 210px;
                                @media (max-width: $sbp_marketingTerms1) {width: 170px;}
                                @media (max-width: $sbp_marketingTerms2) {width: 130px;}
                            }
                        }
                    }
                }
            }
            &:nth-child(2) {
                .mTermBox {
                    @media (max-width: $sbp2_laptop) {
                        flex-direction: column;
                    }
                    &:hover {
                        @media (max-width: $sbp2_laptop) {
                            width: 150px;
                            height: 325px;
                        }
                        @media (max-width: $sbp4_mobile) {
                            height: 325px;
                        }
                    }
                    > div {
                        &:last-child {
                            div {
                                @media (max-width: $sbp2_laptop) {width: 130px;padding-top: 20px;}
                            }
                        }
                    }
                }
            }
            &:nth-child(3) {
                .mTermBox {
                    flex-direction: column;
                    &:hover {
                        width: 300px;
                        height: 650px;
                        @media (max-width: $sbp_marketingTerms1) {
                            width: 200px;
                            height: 425px;
                        }
                        @media (max-width: $sbp_marketingTerms2) {
                            width: 150px;
                            height: 325px;
                        }
                        @media (max-width: $sbp4_mobile) {
                            height: 325px;
                        }
                    }
                    > div {
                        &:last-child {
                            div {
                                width: 210px;
                                @media (max-width: $sbp_marketingTerms1) {width: 170px;}
                                @media (max-width: $sbp_marketingTerms2) {width: 130px;}
                            }
                        }
                    }
                }
            }
            &:nth-child(4) {
                .mTermBox {
                    @media (max-width: $sbp2_laptop) {
                        flex-direction: column;
                    }
                    &:hover {
                        @media (max-width: $sbp2_laptop) {
                            width: 150px;
                            height: 325px;
                            top: -175px;
                            z-index: 9;
                        }
                        @media (max-width: $sbp4_mobile) {
                            height: 325px;
                            top: -175px;
                        }
                    }
                    > div {
                        &:last-child {
                            div {
                                @media (max-width: $sbp2_laptop) {width: 130px;padding-top: 20px;}
                            }
                        }
                    }
                }
            }
            &:nth-child(6) {
                .mTermBox {
                    flex-direction: column;
                    &:hover {
                        width: 300px;
                        height: 650px;
                        top: -350px;
                        z-index: 9;
                        @media (max-width: $sbp_marketingTerms1) {
                            width: 200px;
                            height: 425px;
                            top: -225px;
                        }
                        @media (max-width: $sbp_marketingTerms2) {
                            width: 150px;
                            height: 325px;
                            top: -175px;
                        }
                        @media (max-width: $sbp4_mobile) {
                            height: 325px;
                            top: -175px;
                        }
                    }
                    > div {
                        &:last-child {
                            div {
                                width: 210px;
                                @media (max-width: $sbp_marketingTerms1) {width: 170px;}
                                @media (max-width: $sbp_marketingTerms2) {width: 130px;}
                            }
                        }
                    }
                }
            }
        }
    }
}

