.servicesBtns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (max-width: $sbp3_tablet) {
        flex-direction: column;
        gap: 40px;
    }
    .serviceBtnWrap {
        margin: 0;
        @media (max-width: $sbp3_tablet) {
            text-align: center;
            margin: 0 auto;
        }
        a {
            @media (max-width: $sbp3_tablet) {
                width: 300px;
            }
            @include borderRadius;
            background-color: $colorCtaBtn;
            color: $colorWhite;
            text-decoration: none;
            padding: 18px 35px;
            display: inline-block;
            box-shadow: #ccc 10px 10px 0px -2px, $colorCtaBtn 10px 10px;
            &:active {
                transform: translate(5px, 5px);
                box-shadow: #ccc 5px 5px 0px -2px, $colorCtaBtn 5px 5px;
            }
    
    
        }
    }
}
