.teammembersContent {
    text-align: center;
    @include swiperBox;
    div.swiper-slide {
        padding-bottom: 20px;
        article {
            width: 320px;
            @media (max-width: $sbp2_laptop) {width: 200px;}
            @media (max-width: $sbp3_tablet) {width: 170px;}
            @media (max-width: $sbp4_mobile) {width: 150px;}
            margin-left: auto;
            margin-right: auto;
            img {
                width: 100%;
                aspect-ratio: 1/1;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
                @media (max-width: $sbp4_mobile) {
                    width: 90%;
                    aspect-ratio: 1/1;
                }
                object-fit: cover;
                @include borderRadius;
            }
            p {
                margin: 0;
                &:first-of-type {
                    font-weight: bold;
                    padding-top: 15px;
                }
            }
        }
    }
}

