.blogWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: $sbp2_laptop) {grid-template-columns: repeat(2, 1fr);}
    @media (max-width: $sbp3_tablet) {grid-template-columns: repeat(1, 1fr);}
    @media (max-width: $sbp4_mobile) {grid-template-columns: repeat(1, 1fr);}
    gap: 40px;
    max-width: $sbp1_desktop;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    article {
        background-color: $colorWhite;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
        @include borderRadius;
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
            aspect-ratio: 5/6;
            object-fit: cover;
            border-radius: 11px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        > div {
            position: absolute;
            width: 100%;
            top: calc(100% - 70px);
            background-color: $colorGreyLight;
            border-top: 3px solid $colorWTM;
            min-height: 100%;
            transition: top .3s ease-out;
            padding: 18px 10px 7px 15px;

            > :first-child {
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 15px;
                float: left;
                font-size: 1.2em;
                line-height: 1.8em;
            }
            > :nth-child(2) {
                margin-top: 0;
                margin-bottom: 0;
            }
            > :nth-child(3) {
                display: inline-block;
                overflow: hidden;
            }
            > :last-child {
                position: absolute;
                font-size: 1em;
                width: 120px;
                bottom: 45px;
                right: 15px;
                background-color: $colorGreyLight;
            }
            > h2 {
                color: $colorBlack;
                font-weight: normal;
                font-size: 1.2em;
                line-height: 1.8em;
            }
            > .date {
                span {
                    line-height: 0;
                    margin-left: 10px;
                    border-bottom: 1px solid $colorBlack;
                    display: inline-block;
                    width: 50px;
                }
            }
        }
        a {
            color: $colorWTM;
            font-weight: bold;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &:hover {
            > div {
                top: 50px;
            }
            cursor: pointer;
        }
    }
}
.blogBumper {
    background-color: $colorGreyLight;
    .bumperInner {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        max-width: $contentWidth;
        margin-left: auto;
        margin-right: auto;
    }
}