.blogWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: $sbp2_laptop) {grid-template-columns: repeat(2, 1fr);}
    @media (max-width: $sbp3_tablet) {grid-template-columns: repeat(1, 1fr);}
    @media (max-width: $sbp4_mobile) {grid-template-columns: repeat(1, 1fr);}
    gap: 20px;
    max-width: $sbp1_desktop;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    article {
        background-color: $colorWhite;
        border: 3px solid $colorWTM;
        @include borderRadius;
        img {
            width: 100%;
            aspect-ratio: 2/1;
            object-fit: cover;
            border-radius: 11px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        > div {
            padding: 20px;
            :first-child {
                margin-top: 0;
                margin-bottom: 5px;
            }
            :nth-child(2) {
                margin-top: 0;
                font-size: .8em;
            }
            :last-child {
                margin-bottom: 0;
            }
            h2 {
                color: $colorWTMdark;
            }
            .date {
                &:before {
                    font-family: 'wt_media_events';
                    content: '\e804\00a0';
                }
            }
        }
        a {
            color: $colorWTM;
            font-weight: bold;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &:hover {
            background-color: $colorWTMdark;
            color: $colorWhite;
            cursor: pointer;
            h2 {
                color: $colorWhite;
            }
        }
    }
}
