.detailArticle {
    @media (max-width: $sbp3_tablet) {padding-left:40px;padding-right:40px;}
    @media (max-width: $sbp4_mobile) {padding-left:20px;padding-right:20px;}
    .date {
        font-size: 1.5em;
        span {
            text-decoration: underline;
        }
        &:before {
            font-family: 'wt_media_events';
            content: '\e804\00a0';
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
