.detailArticle {
    @media (max-width: $sbp3_tablet) {padding-left:40px;padding-right:40px;}
    @media (max-width: $sbp4_mobile) {padding-left:20px;padding-right:20px;}
    // .date {
    //     font-size: 1.5em;
    //     span {
    //         text-decoration: underline;
    //     }
    //     &:before {
    //         font-family: 'wt_media_events';
    //         content: '\e804\00a0';
    //     }
    // }
    img {
        max-width: 100%;
        height: auto;
    }
    .training {
        display: flex;
        @media (max-width: $sbp3_tablet) {flex-direction: column;}
        gap: 40px;
        margin-bottom: 40px;
        .trainingSpecs {
            @include borderRadius;
            border: 3px solid $colorWTM;
            flex: 0 0 500px;
            @media (max-width: $sbp1_desktop) {flex-basis:400px;}
            @media (max-width: $sbp2_laptop) {flex-basis:300px;}
            // @media (max-width: $sbp3_tablet) {flex-basis:200px;}
            // @media (max-width: $sbp4_mobile) {flex-basis:100px;}
            padding: 30px;
            > div {
                display: flex;
                align-items: center;
                gap: 30px;
                margin-bottom: 20px;
                > div {
                    &:first-child {
                        flex: 0 0 60px;
                    }
                    :first-child {
                        // margin-top: 20px;
                    }
                    color: $colorWTM;
                    font-weight: bold;
                    font-size: 1.2em;
                }
            }
        }
    }
}
