@mixin heroHeight() {
    @media (max-width: $sbp3_tablet) {
        height: 550px;
    }
    @media (min-width: ($sbp3_tablet+1)) {
        height: 650px;
    }
}
@mixin heroHeightStandardPage() {
    @media (max-width: $sbp3_tablet) {
        height: 350px;
    }
    @media (min-width: ($sbp3_tablet+1)) {
        height: 500px;
    }
}
.hero {
    position: relative;
    @include heroHeight;
    .heroOverlay {
        > div {
            max-width: $contentWidth;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 40px;
            height: 100%;
            padding: 100px;
            @media (max-width: $sbp1_desktop) {padding: 80x;}
            @media (max-width: $sbp2_laptop) {padding: 60px;}
            @media (max-width: $sbp3_tablet) {padding: 50px;}
            @media (max-width: $sbp4_mobile) {padding: 40px;}
            .heroText {
                font-family: $fontFamilyHero;
                // max-width: 60%;
                @media (max-width: $sbp1_desktop) {max-width: 80%;}
                @media (max-width: $sbp2_laptop) {max-width: 100%;}
                @media (max-width: $sbp4_mobile) {text-align: center;}
                h1 {
                    // font-weight: bold;
                    font-stretch: semi-condensed;
                    font-size: 3.5em;
                    line-height: 1.5em;
                    @media (max-width: $sbp1_desktop) {font-size: 3em;}
                    @media (max-width: $sbp2_laptop) {font-size: 2.7em;}
                    @media (max-width: $sbp3_tablet) {font-size: 2.5em;}
                    @media (max-width: $sbp4_mobile) {font-size: 2.2em;}
                    margin: 0;
                }
                p {
                    font-stretch: semi-condensed;
                    font-size: 3em;
                    @media (max-width: $sbp1_desktop) {font-size: 2.5em;}
                    @media (max-width: $sbp2_laptop) {font-size: 2.2em;}
                    @media (max-width: $sbp3_tablet) {font-size: 2em;}
                    @media (max-width: $sbp4_mobile) {font-size: 1.7em;text-align:center;}
                    margin: 0;
                }
            }
        }
        position: absolute;
        top: 0;
        width: 100%;
        @include heroHeight;
        background-image: linear-gradient(to left, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.8));
        color: $colorWhite;
        z-index: 1;
        .makeContact {
            display: flex;
            gap: 20px;
            @media (max-width: $sbp4_mobile) {
                flex-direction: column;
                align-items: center;
            }
            a {
                text-decoration: none;
                display: block;
                text-align: center;
                line-height: 50px;
                height: 50px;
                border-radius: 25px;
                &.email {
                    font-weight: normal;
                    background-color: $colorWTM;
                    color: $colorWhite;
                    width: 400px;
                    @media (max-width: $sbp4_mobile) {width: 300px;}
                    &:hover {
                        background-color: $colorWTMdark;
                    }
                }
                &.phone {
                    background-color: $colorBlack;
                    color: $colorWhite;
                    width: 50px;
                    &:before {
                        font-family: "wt_media_events";
                        font-size: 20px;
                        content: '\e801';
                        display: block;
                        width: 50px;
                    }
                    &:hover:before {
                        color: $colorWTM;
                    }
                    span {
                        visibility: hidden;
                    }
                }
            }
        }
        &.centerText {
            background-image: linear-gradient(to left, rgba(0,0,0,0.0), rgba(0,0,0,0.6) 50%, rgba(0,0,0,0.0));
            > div {
                padding: 0;
                justify-content: center;
                text-align: center;
            }
            .makeContact {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .heroImages {
        > div {
            display: block;
            width: 100%;
            @include heroHeight;
            overflow: hidden;
            position: absolute;
            top: 0;
            background-color: $colorBlack;
            img {
                position: absolute;
                top: 0;
                width: 100%;
                @include heroHeight;
                object-fit: cover;
                transition: opacity 0.7s ease;
                opacity: 0;
                &:first-child {
                    opacity: 1;
                }
            }
        }
        &.zoom {
            img {
                animation: scale 40s linear infinite;
            }
        }
    }
}
.standardPage {
    .hero {
        @include heroHeightStandardPage;
        .heroOverlay {
            @include heroHeightStandardPage;
        }
        .heroImages {
            > div {
                @include heroHeightStandardPage;
                img {
                    @include heroHeightStandardPage;
                }
            }
        }
    
    }
}
@keyframes scale {
    50% {
        -moz-transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -o-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
}
.heroTextBlog {
    padding-top: 40px;
    padding-bottom: 40px;
    @include textPaddingOnMobile;
    h1 {
        font-weight: bold !important;
    }
}