.reviewsContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: $sbp2_laptop) {grid-template-columns: repeat(3, 1fr);}
    @media (max-width: $sbp3_tablet) {grid-template-columns: repeat(1, 1fr);padding-left:40px;padding-right:40px;}
    @media (max-width: $sbp4_mobile) {grid-template-columns: repeat(1, 1fr);}
    grid-gap: 60px;
    article {
        img {
            @include borderRadius;
            width: 100%;
            max-width: 200px;
            aspect-ratio: 1/1;
            object-fit: contain;
        }
        h3 {
            font-size: 1.3em;
        }
        > div {
            height: 200px;
            overflow: hidden;
            :first-child {
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }
}
