.teammembersContent {
    text-align: center;
    @include swiperBox;
    .swiper {
        img {
            width: 300px;
            aspect-ratio: 1/1;
            @media (max-width: $sbp4_mobile) {
                width: 90%;
                aspect-ratio: 1/1;
            }
            object-fit: cover;
            @include borderRadius;
        }
        p {
            margin: 0;
            &:first-of-type {
                font-weight: bold;
            }
        }
    }
}

