.workingWithContent {
    text-align: center;
    .outerSwiperBox {
        position: relative;
        .partnerSwiper {
            padding: 20px;
            img {
                height: 150px;
                width: 150px;
                object-fit: contain;
            }
        }
        .swiper-pagination {
            bottom: -10px !important;
        }
    }
}
